body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #fff;
}

h1 {
  color: black;
  text-align: center;
}

h1 > span {
  color: #187bcd;
}

.form-group {
  display: block;
  margin-bottom: 20px;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
}

#submit {
  margin-top: 10px;
  background-color: #187bcd;
  border: 1px solid #187bcd;
  border-radius: 2px;
  color: white;
  width: 25%;
  height: 35px;
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th{
	border-bottom: 1px solid black;
	border-width:100%;
    padding: 12px;
    text-align: left;
}

.table td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table-striped tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.delete {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
